
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474513037'); /* IE9*/
  src: url('iconfont.eot?t=1474513037#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474513037') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474513037') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474513037#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:35px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tubiao7:before { content: "\e62c"; }
.icon-xiaoxiguanli:before { content: "\e630"; }
.icon-erweima:before { content: "\e61b"; }
.icon-fapiao:before { content: "\e61d"; }
.icon-shouye:before { content: "\e627"; }
.icon-suo:before { content: "\e629"; }
.icon-fenxiang:before { content: "\e61e"; }
.icon-seyrmbb:before { content: "\e613"; }
.icon-seypeoplea:before { content: "\e611"; }
.icon-seymanb:before { content: "\e610"; }
.icon-seymana:before { content: "\e60f"; }
.icon-seywifeb:before { content: "\e617"; }
.icon-seyzhanneixina:before { content: "\e618"; }
